.encabezado {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  padding: 10px; /* Espaciado opcional */
  color: #fff; /* Color del texto */
}

.botones {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}

.bot {
  background-color: blue;
}

button {
  background-color: #04bb22; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/* Media query para pantallas menores a 768px */
@media only screen and (max-width: 768px) {
  .encabezado {
      flex-direction: column; /* Cambia la dirección a columna */
  }

  .botones {
      justify-content: center; /* Centra los botones horizontalmente */
      gap: 5px; /* Reducir el espacio entre botones */
      flex-wrap: wrap; /* Permite que los elementos se ajusten al tamaño del contenedor */
  }

  button {
      padding: 4px 8px; /* Reducir el padding de los botones */
  }
}
