.encabezado {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; /* Asegura que el encabezado esté en la parte superior */
  position: fixed; /* Fija el encabezado en la parte superior de la ventana */
  top: 0; /* Alinea el encabezado en la parte superior */
}

.botones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.botones a {
  padding: 5px 10px;
  margin: 2px;
  text-decoration: none;
  color: #ffffff;
  background-color: #04bb22;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer; /* Indica que es un elemento clickeable */
}

.botones a:hover {
  background-color: #0056b3;
}

.nombre-usuario {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

/* Agrega espacio a los elementos debajo del encabezado */
.espacio-bajo-encabezado {
  margin-top: 60px; /* Ajusta este valor según sea necesario */
}

@media only screen and (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    align-items: center;
  }

  .botones {
    justify-content: center;
    gap: 5px;
  }

  .botones a {
    padding: 4px 8px;
  }
}


